<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Singers</title>
</head>
<body>
  <ul>
    <% singers.forEach(singer => { %>
    <li style="margin-bottom: 10px;">
      <ul>
        <li><%= singer.name %></li>
        <li><a href="<%= singer.link %>">Contact</a></li>  
      </ul>
    </li>
    <% }) %>
  </ul>
</body>
</html>